<header class="site-header">
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}/">{{site.title}}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{site.baseurl}}/join-server/">第一次进服？</a></li>
          <li><a href="https://tieba.baidu.com/p/5114017808">服务器展览</a></li>
          <li><a href="{{site.baseurl}}/donate/">捐赠</a></li>
          <li><a href="{{site.baseurl}}/about/">关于</a></li>
          <li><a href="{{site.baseurl}}/collection/">收集</a></li-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">下载 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a target="_blank" href="http://pan.baidu.com/s/1slIVMhv">泰拉瑞亚非Steam版</a></li>
                <li><a target="_blank" href="http://pan.baidu.com/s/1kVn1e2z">方正准圆字体</a></li>
                <li role="separator" class="divider"></li>
                <li><a target="_blank" href="https://ci.appveyor.com/project/mistzzt/terraria-map-editor/build/artifacts">TEdit中文版</a></li>
                <li role="separator" class="divider"></li>
                <li><a target="_blank" href="https://ci.appveyor.com/project/mistzzt/tshock/build/artifacts">TShock中文版</a></li>

              </ul>
            </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>